<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>

<body>
    
    <section class="header">
        <nav>
            <div class="nav-links" id="navlinks">
              <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a id="home" href="/">HOME</a></li>
                    <li><a id="color" href="/color">COLOR</a></li>
                    <li><a id="makeup" href="/makeup">MAKEUP</a></li>
                    <li><a id="community" href="/community">COMMUNITY</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <hr class="solid">
    </section>

    <section class="bottom">
    </section>



</body>
</html>