










<body>

    <section class="header">
        <nav>
            <div class="nav-links" id="navlinks">
              <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="color">COLOR</a></li>
                    <li><a href="makeup">MAKEUP</a></li>
                    <li><a href="community">COMMUNITY</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <hr class="dashed">
    </section>