<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>

<body>

    <section class="header">
        <nav>
            <div class="nav-links" id="navlinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="color">COLOR</a></li>
                    <li><a href="makeup">MAKEUP</a></li>
                    <li><a href="community">COMMUNITY</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <hr class="solid">
    </section>

    <script>
        var navlinks = document.getElementById("navlinks");
        function showMenu() {
            navlinks.style.right = "0";
        }
        function hideMenu() {
            navlinks.style.right = "-200px";
        }
    </script>
</body>
</html>