{% extends "base.html" %}
{% block title %}Community{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='community_page.css') }}">

<section class="Community-post">
    <div class="container-community">
        <div class="sidebar">
            <i class="material-symbols-outlined" id="cancel-icon" onclick="toggleSidebar()">Cancel</i>
            <h2>Filter</h2>
            <h3>Visual Type</h3>
            <ul>
                <li><a href="{{ url_for('views.community', visual_type='low') }}">Low</a></li>
                <li><a href="{{ url_for('views.community', visual_type='high') }}">High</a></li>
                <li><a href="{{ url_for('views.community', visual_type='mixed') }}">Mixed</a></li>
            </ul>
            <h3>Seasonal Palette</h3>
            <ul>
                <li><a href="{{ url_for('views.community', seasonal_palette='Autumn') }}">Autumn</a></li>
                <li><a href="{{ url_for('views.community', seasonal_palette='Light Spring') }}">Light Spring</a></li>
                <li><a href="{{ url_for('views.community', seasonal_palette='Soft Autumn') }}">Soft Autumn</a></li>
                <li><a href="{{ url_for('views.community', seasonal_palette='Soft Summer') }}">Soft Summer</a></li>
                <li><a href="{{ url_for('views.community', seasonal_palette='Summer') }}">Summer</a></li>
                <li><a href="{{ url_for('views.community', seasonal_palette='Winter') }}">Winter</a></li>
            </ul>  
        </div>
        <div class="sidebar-filters" onclick="toggleSidebar()">
            <i class="material-symbols-outlined" id="filters-icon">Tune</i>
            <p>Filters</p>
        </div>
        <div class="flex-container">
            <div class="post_container">
                <div class="box-post">
                    <h1 align="center">Make a post</h1>
                    <form id="post-form" method="POST" action="{{ url_for('views.create_post') }}" enctype="multipart/form-data">
                        <textarea name="text" id="text" class="form-control"></textarea>
                        <br />
                        <input type="file" name="photo" accept="image/*">
                        <br />
                        <div align="center">
                            <button type="submit" class="post-button">Post</button>
                        </div>
                        {% if not current_user.is_authenticated %}
                            <h7>Login <a href="{{url_for('auth.login')}}">here</a> to start posting now!</h7>
                        {% endif %}
                        {% if not (current_user.result and current_user.coloranalysis) %}
                        <h3>p/s : if you take both of our color and makeup tests now before posting, your post will be linked to your result :)</h3>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="community-container">
                <h1 align="center">Community Posts</h1>
                {% for post in posts %}
                <div class="card-border-dark">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="post-date">
                            {{ post.date }}
                        </div>
                        <a href="/posts/{{ post.user.username }}">{{ post.user.username }}</a>
                        <div>
                            <span class="like-count" id="like-count-{{ post.id }}">{{ post.likes|length }}</span>
                            <button class="like-button" id="like-button-{{ post.id }}" onclick="like('{{ post.id }}')">
                                {% if current_user.id in liked_post_ids %}
                                    <i class="material-symbols-outlined">thumb_up</i>
                                {% else %}
                                    <i class="material-symbols-outlined">thumb_up</i>
                                {% endif %}
                            </button>
                            {% if user.id == post.author %}
                            <div class="btn-group">
                                <ul class="dropdown-menu">
                                    <a href="{{ url_for('views.delete_post', id=post.id) }}" class="dropdown-item">Delete</a>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-text">{{ post.text }}</div>
                    {% if post.photo %}
                    <img src="{{ url_for('static', filename='uploads/' + post.photo) }}" alt="Photo">
                    {% endif %}
                    <br />

                    <!-- Toggle button to show/hide comments -->
                    <button class="toggle-comments-button" onclick="toggleComments('{{ post.id }}')">Read Comments</button>
                    
                    <!-- Comment section with initial display set to none -->
                    <div class="collapse comments-section" id="comments-{{ post.id }}" style="display: none;">
                        <div class="card">
                            <div class="card-body" id="comments-expanded-{{ post.id }}">
                                {% for comment in comments %}
                                <div class="comment-container{% if comment.author == current_user %} current-user{% endif %}">
                                    <div>
                                        <a i="/posts/{{ post.user.username }}" class="comment-user">{{ comment.author_username.username }}:</a> 
                                        <span class="comment-text{% if comment.author == current_user %} current-user{% endif %}">{{ comment.text }}</span>
                                    </div>
                                    {% if user.id == comment.author or user.id == post.author %}
                                    <a href="{{ url_for('views.delete_comment', comment_id=comment.id) }}" class="delete-comment-button">Delete</a>
                                    {% endif %}
                                </div>                                    
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <form class="input-group mb-3" method='POST' action="{{ url_for('views.create_comment', post_id=post.id) }}">
                        <input type="text" name="text" class="form-control" placeholder="Comment something!" />
                        <button type="submit" class="comment-button">Comment</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        
    </div>
</section>

<script>
    const url = "{{ url_for('views.create_post') }}";
    document.getElementById('post-form').addEventListener('submit', function(event) {
        event.preventDefault();
        fetch(url, {
            method: 'POST',
            body: new FormData(this)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                window.location.href = "{{ url_for('views.community') }}";
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    // Function to toggle to see the sidebar
    function toggleSidebar() {
        var sidebar = document.getElementById("sidebar"); 
        if (sidebar.style.left === "-200px") {
            sidebar.style.left = "0"; // Show the sidebar
        } else {
            sidebar.style.left = "-200px"; // Hide the sidebar
        }
    }
</script>
{% endblock %}
