{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

{% for color in image %}
    {% if color.image %}
    <img src="{{ url_for('static', filename='uploads/' + color.image) }}" class="img-fluid" alt="Upload" id="uploaded-image" style="display:none;">
    {% endif %}
{% endfor %}

<div id="canvas-section" style="display:none;">
    <h2>Step 2 :</h2><h3>Select Hair, Skin, and Eye Colors</h3>
    <div id="image-container"></div>
    <canvas id="image-canvas" width="300" height="300"></canvas>
    <div id="color-picker">
        <button id="select-hair-color">Hair Color</button>
        <button id="select-skin-color">Skin Color</button>
        <button id="select-eye-color">Eye Color</button>
    </div>
    <form method="POST" enctype="multipart/form-data" id="color-selection-form" action="{{ url_for('views.results') }}">
        <div id="selected-colors">
            <p>Hair Color:</p>
            <div id="hair-color"></div>
            <p>Skin Color:</p>
            <div id="skin-color"></div>
            <p>Eye Color:</p>
            <div id="eye-color"></div>
            <input type="hidden" id="hair-color-input" name="hair_color">
            <input type="hidden" id="skin-color-input" name="skin_color">
            <input type="hidden" id="eye-color-input" name="eye_color">
        </div>
        <button type="submit" id="submit-colors" style="display:none;">Submit</button>
    </form>
</div>

<script>
    document.getElementById('color-selection-form').addEventListener('submit', function(event) {
        event.preventDefault();
            
        fetch('/results', {
            method: 'POST',
            body: new FormData(this)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                window.location.href = "{{ url_for('views.results') }}";
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}