{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

        <h1>Discover Your True Palette:<br>Where Beauty Unfolds</h1>
        <div class="row">
           <div class="segment-desc">
               <h2>COLOR</h2>
               <h3>Unlock Your True Colors!</h3>
               <p>At our service, we dive deep into the different of tones and shades to unveil your personal pallete. This is your chance to start styling outfits with the true colour pallete. Dont miss out the chance!</p>
               <a href="color" class="try-button">Try now!</a>
           </div>
           <div class="segment-desc">
               <h2>MAKEUP</h2>
               <h3>Makeup:The word that will thrill most women!</h3>
               <p>Makeup is never a stressful thing to do. However, did you know that the way your makeup looks can be influenced by the shape and features of your face? 
                But do not worry, as we can take care of all your concerns with just our test. Take this test, and we will tell you right away your type of makeup archetype and makeup tutorials, so you will be able to see your absolute best!</p>
                <p>See your previous result <a href="{{url_for('auth.previous_result', username=current_user.username)}}">here.</a></p>
               <a href="makeup" class="try-button">Try now!</a>
           </div>
           <div class="segment-desc">
               <h2>COMMUNITY</h2>
               <h3>Welcome to our vibrant community hub!</h3>
               <p>Come together to share photos, exchange ideas and build friendships. Don't be shy to ask and share your opinions. Welcome to our community where everyone's voice is heard!</p>
               <a href="community" class="try-button">Join now!</a>
           </div>
        </div>
    
    
{% endblock %}