{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='auth.css')}}">

<form method="POST" id="signup-form">
    <div class="auth-form__logo-container">
        <img class="auth-form__logo" src="static/logo.png" alt="Logo">
    </div>
    <div class="form-group">
        <div class="auth-form__header">Create your account</div>
          <label for="email">Email Address</label>
          <input class="auth-form__input"
              type="text" 
              id="email" 
              name="email" 
              class="form-control" 
              placeholder="Enter Email"
            />
          <label for="username">Username</label>
          <input class="auth-form__input"
              type="text" 
              id="username" 
              name="username" 
              class="form-control" 
              placeholder="Enter Username"
            />
          <label for="password1">Password</label>
          <input class="auth-form__input"
              type="password" 
              id="password1" 
              name="password1" 
              class="form-control" 
              placeholder="Enter Password"
            />
          <label for="password2">Password Again</label>
          <input class="auth-form__input"
              type="password" 
              id="password2" 
              name="password2" 
              class="form-control" 
              placeholder="Enter Password Again"
            />
        <br/>
        <button class="auth-form__button" type="submit">Sign Up</button>
    
    </div>
</form>

<script>
    document.getElementById('signup-form').addEventListener('submit', function(event) {
        event.preventDefault();
        
        fetch('/signup', {
            method: 'POST',
            body: new FormData(this)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                window.location.href = "{{ url_for('views.home') }}"; // Redirect to home page
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

{% endblock %}