@font-face {
    font-family: 'Kaoly';
    src: url("/static/fonts/Kaoly Demo-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'BoogieBoys';
    src: url("/static/fonts/BoogieBoys.ttf") format("opentype");
}

.container {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #ec93ca 25%, transparent 25%), linear-gradient(225deg, #ec93ca 25%, transparent 25%), linear-gradient(45deg, #ec93ca 25%, transparent 25%), linear-gradient(315deg, #ec93ca 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Apply the font to the entire body */
body {
    font-family: 'BoogieBoys';
    font-size: 30px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

/* Ensure the font is applied to specific elements */
.box-post h1, .community-container h1 {
    font-family: 'Kaoly'; /* Use 'Kaoly' font for headings */
    margin-top: 0;
    color: rgb(217, 23, 107);
}

/* Flex container for overall layout */
.container-community {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
    margin: 20px auto; 
    max-width: 1200px; 
    padding: 0 15px; 
}

/* Sidebar styling */
.sidebar {
    width: 100%; 
    max-width: 200px; 
    margin-bottom: 20px; 
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 1rem;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #007BFF;
}

/* Flex container for post elements */
.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    gap: 20px; /* Gap between items */
    justify-content: center; /* Center items */
    width: 100%;
}

/* Post container styles */
.post_container {
    width: 100%; /* Full width for smaller screens */
    background-color: #ffffff;
    max-width: 400px; /* Maximum width for larger screens */
    margin: 10px; /* Adjust margin */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Community container styles */
.community-container {
    flex-grow: 1; /* Allow this container to grow */
    background-color: #fff;
    margin: 20px auto; /* Center with auto margin */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for larger screens */
@media (min-width: 768px) {
    .container-community {
        justify-content: space-between; 
    }

    .sidebar {
        width: 20%;
    }

    .community-container, .post_container {
        width: 75%; 
        max-width: 75%; /* Ensure max-width is consistent */
    }

    
    .community-container, .post_container {
        flex-grow: 1; 
    }
}

/* Full width for smaller screens */
@media (max-width: 700px) {
    .post_container, .community-container, .sidebar {
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* Remove max width constraint */
    }

    .card-border-dark img {
        max-width: 100%;
        height: auto; 
    }
}

/* Additional styling for specific elements */
.card-border-dark {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-border-dark img {
    max-width: 400px; 
    max-height: 450px; 
    display: block;
    margin: 0 auto; 
}

.card-header {
    background-color: #f8f9fa;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header a {
    text-decoration: none;
    color: #7f1cf8;
}

.card-text {
    margin: 1rem 0;
}

.like-button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
}

.like-button i {
    font-size: 1.2rem;
}

input.form-control, textarea.form-control {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-button {
    font-family: 'BoogieBoys'; 
    font-size: 20px; 
    border: 1px solid #007BFF; 
    border-radius: 4px; 
    padding: 8px; 
    padding-bottom: 0px;
    display: inline-block; 
    color: #007BFF; 
    background-color: #f8f9fa; 
    text-align: center; 
    cursor: pointer; 
}

.post-button:hover {
    background-color: #007BFF; 
    color: white; 
    border-color: #0056b3; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn-group .dropdown-item {
    font-size: 20px;
    border: 1px solid #007BFF; 
    border-radius: 4px; 
    padding: 5px; 
    display: inline-block; 
    color: #007BFF; 
    background-color: #f8f9fa; 
}

.btn-group .dropdown-item:hover {
    background-color: #007BFF; 
    color: white; 
    border-color: #0056b3; 
}

/* Styles for the comment button to match the Delete button */
.comment-button {
    font-family: 'BoogieBoys'; 
    font-size: 20px; 
    border: 1px solid #007BFF; 
    border-radius: 4px; 
    padding: 5px; 
    padding-bottom: 0px;
    display: inline-block; 
    color: #007BFF; 
    background-color: #f8f9fa; 
    text-align: center; 
    cursor: pointer; 
}


.comment-button:hover {
    background-color: #007BFF; 
    color: white; 
    border-color: #0056b3; 
}

/* Container for each comment to align text and delete button */
.comment-container {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    margin-bottom: 10px; 
}

/* Style for the delete comment button */
.delete-comment-button {
    font-size: 20px; 
    border: 1px solid #dc3545; 
    border-radius: 4px; 
    padding: 5px; 
    padding-bottom: 0px;
    color: #dc3545; 
    background-color: #f8f9fa; 
    cursor: pointer; 
    text-decoration: none; 
}


.delete-comment-button:hover {
    background-color: #dc3545; 
    color: white;
    border-color: #c82333; 
}


.comment-container.current-user {
    background-color: #f0f0f0; /* Background color for current user's comment */
}


.comment-text {
    color: #333333; /* Default color for comment text */
}

/* Style for the current user's username */
.comment-user {
    color:#308bc7
}

/* Style for the toggle comments button */
.toggle-comments-button {
    font-family: 'BoogieBoys'; 
    font-size: 23px;
    background-color: #46bed5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.toggle-comments-button:hover {
    background-color: #0491a7;
}

.h7 {
    font-size: 1.25rem; 
    font-weight: normal; 
    color: #333; 
}